{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h1>Modifier le profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

    <div>
    {{ form_start(profilForm) }}

    {{ form_widget(profilForm) }}

        <button class="btn blue rounded-1">Enregistrer</button>

    {{ form_end(profilForm) }}
    </div>
</center>
{% endblock %}