{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h1>Modifier le profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

    <div>
    {{ form_start(profilForm) }}

    {{ form_widget(profilForm) }}
        <br>
        <div><button class="btn blue rounded-1">Enregistrer</button></div>
        <br>
        <div><a class="btn blue rounded-1" href="{{ path('profil') }}" >Annuler</a></div>

    {{ form_end(profilForm) }}
    </div>
</center>
{% endblock %}