{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier le profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

    <div>
    {{ form_start(profilForm) }}

    {{ form_widget(profilForm) }}

        <button>Enregistrer</button>

    {{ form_end(profilForm) }}
    </div>



{% endblock %}