{% extends 'base.html.twig' %}

{% block body %}

    <h1>Profil de {{ app.user.prenom }} {{ app.user.nom }} </h1>
    <div>Pseudo :{{ app.user.pseudo }}</div>
    <div>Nom : {{ app.user.nom }}</div>
    <div>Prénom : {{ app.user.prenom }}</div>
    <div>Email : {{ app.user.email }}</div>


{% endblock %}
