{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}| details {% endblock %}

{% block body %}

    <h2 class="text-center"> Afficher la sortie: {{ sortie.nom }}</h2>
    <div class="grix xs1 sm2 gutter-xs9">
    <article class="detail-sortie ">
    <div class="fx-center">
       <b>  Nom de la sortie : </b>{{ sortie.nom }}
    </div>
        <div>
            <b>  Date et heure de la sortie : </b> {{ sortie.dateHeureDebut | date ("d/m/Y à H:i")}}
        </div>
        <div>
            <b>  Date limite d'inscription :</b> {{ sortie.dateLimiteInscription|date ('d/m/Y') }}
        </div>
        <div>
            <b>  Nombre de places : </b>{{ sortie.nbParticipantMax }}
        </div>
        <div>
            <b>  Durée : </b>{{ sortie.duree }}  minutes
        </div>
        <div>
            <b>  Description et infos :</b> {{ sortie.infoSortie }}
        </div>
</article>
    <article class="detail-sortie">
        <div>
        <b>   Campus : </b>{{ sortie.campusOrganisateur.nom }}
        </div>
        <div>
          <b>Lieu : </b> {{ sortie.lieu.nom }}
        </div>
        <div>
            <b>  Rue : </b>{{ sortie.lieu.rue }}
        </div>
        <div>
            <b>   Code Postal :</b>{{ sortie.lieu.ville.codePostal }}
        </div>
        <div>
            <b> Latitude :</b> {{ sortie.lieu.latitude }}
        </div> <div>
            <b>   Longitude :</b> {{ sortie.lieu.longitude}}
        </div>

    </article>
    </div>

        <h2>Liste des particitants inscrits:</h2>
    <div class="table-responsive">
        <table class="table table-hover">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom et Prenom</th>
                </tr>
                </thead>
        {% for inscription in sortie.inscriptions %}

                   <tbody>
                   <tr>
                       <td>{{ inscription.participants.pseudo }}</td>

                       <td>{{  inscription.participants.prenom ~' '~ inscription.participants.nom  }}</td>
                   </tr>
                   <tr>

                   </tr>
                   </tbody>

               {% endfor %}
            </table>
        </div>
        <div class="retour">
    <a class="btn blue rounded-1" href="{{ path('sortie_list') }}" title="retour">Retour</a>

        </div>
{% endblock %}