<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body class="layout">
<header>
    <a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" class="logo" alt="Sortir.com"></a>
    <nav class="navbar shadow-5 primary">
        <div class="navbar-menu ml-auto">
            <a class="navbar-link" href="{{ path('home') }}">Accueil</a>
            {% if app.user %}
                <a class="navbar-link" href="{{ path('profil') }}">Profil</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-link" href="{{ path('ville_afficher') }}">Villes</a>
                    <a class="navbar-link" href="{{ path('campus_affichage') }}">Campus</a>
                {% endif %}

                <a class="navbar-link" href="{{ path('app_logout') }}">Déconnecter ({{ app.user.pseudo }})</a>
            {%  else %}
                <a class="navbar-link" href="{{ path('app_login') }}">Se connecter</a>
                <a class="navbar-link" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}


        </div>
    </nav>
    {% block header %}{% endblock %}
</header>


{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class=" flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer primary">
    <div>&copy; {{ "now"|date("Y") }} Sortir.com</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
</body>
</html>
